html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 160px;
  grid-template-areas: "header"
                       "content"
                       "footer";
}

.content {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 160px;
  grid-template-areas: "title"
                       "main";
}
