.portfolio-list {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 15px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 240px;
  text-align: center;

  > .post {
    display: flex;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    background-color: #0BBACC;
    > p {
      color: #FFF;
    }
  }
}

.folio-item {
  transition: all 0.3s ease-out;
}

.folio-item:hover {
    transform: translateY(-10px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(59, 89, 152, .3);
}
