.post {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}

.post > * {
    grid-column: 2;
    min-width: 0;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    max-width: 960px;
    grid-gap: 16px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 1fr;
}

.PostTitle {
    grid-area: 1 / 1 / 1 / 3;
    align-self: center;
    #title {
      grid-area: title;
      > h1 {
        margin: 0 auto;
        max-width: 295px;
        @media screen and (min-width: 600px) {
          max-width: 400px;
        }
      }
    }
}

.Prototype {
    grid-area: 2 / 1 / 4 / 1;
}

.Words {
    grid-area: 2 / 2 / 4 / 2;
    text-align: left;
    padding-left: 40px;
    padding-top: 80px;
}
