.post {
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}

.post > * {
    grid-column: 2;
    min-width: 0;
}

.post-hero {
  margin: 0px;
  grid-column: 1 / -1;
  height: 320px;
  background-image: url("/images/test-hero.png");
  background-color: #000;
}

.post-info {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-content: center;
}

.post-category {
  font-size: 12px;
  color: #FFFFFF;
}

.post-title {
  width: 275px;
  font-weight: 800;
  color: #FFFFFF;
}
