.post {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}

.post > * {
    grid-column: 2;
    min-width: 0;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 1fr;
}

.PostTitle {
    grid-area: 1 / 1 / 1 / 3;
    background-color: blue;
}

.Prototype {
    grid-area: 2 / 1 / 4 / 1;
    background-color: red;
    height: 100%;
}

.Words {
    grid-area: 2 / 2 / 4 / 2;
    background-color: green;
    height: 100%;
}
