.post {
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}

.post > * {
    grid-column: 2;
    min-width: 0;
}

.post-hero {
  margin: 0px;
  grid-column: 1 / -1;
  height: 320px;
  background-color: #000;
}

.post-info {
  align-self: center;
}

.post-category {
  font-size: 12px;
  color: #FFFFFF;
}

.post-title {
  color: #FFFFFF;
}
