.post {
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}

.post > * {
    grid-column: 2;
    min-width: 0;
}

.post-header {
  grid-column: 1 / -1;
  height: 320px;
  background-color: #000;
}
