h1 {
  display: block;
  font-size: 32px;
  color: #4A4A4A;
  letter-spacing: 0.5px;
  line-height: 40px;
  font-weight: 100;
}

h2 {
  color: #4A4A4A;
}

p {
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.post-cat {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}

.introbold {
  font-weight: 800;
}
